Repository EnneaLink/ennealink-fe, pull requests merged in 2021-10, with the labels that each got.

#14 Feature/graphql
  package-lock.json
  package.json
  src/components/App/App.js
  src/index.js
Labels: PHASE 1, Setup, GraphQL

#17 Create first Cypress command and test
  cypress/integration/test_spec.js
  cypress/support/commands.js
Labels: Cypress, Setup

#19 Feature/header component
  src/components/App/App.css
  src/components/App/App.js
  src/components/Header/Header.css
  src/components/Header/Header.js
  src/components/NavBar/NavBar.css
  src/components/NavBar/NavBar.js
Labels: enhancement, CSS
